/* roboto-regular - latin_cyrillic-ext_cyrillic */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/roboto-v20-latin_cyrillic-ext_cyrillic-regular.eot");
  /* IE9 Compat Modes */
  src: local(""), url("../fonts/roboto-v20-latin_cyrillic-ext_cyrillic-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/roboto-v20-latin_cyrillic-ext_cyrillic-regular.woff2") format("woff2"), url("../fonts/roboto-v20-latin_cyrillic-ext_cyrillic-regular.woff") format("woff"), url("../fonts/roboto-v20-latin_cyrillic-ext_cyrillic-regular.ttf") format("truetype"), url("../fonts/roboto-v20-latin_cyrillic-ext_cyrillic-regular.svg#Roboto") format("svg");
  /* Legacy iOS */
}

/* roboto-500 - latin_cyrillic-ext_cyrillic */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/roboto-v20-latin_cyrillic-ext_cyrillic-500.eot");
  /* IE9 Compat Modes */
  src: local(""), url("../fonts/roboto-v20-latin_cyrillic-ext_cyrillic-500.eot?#iefix") format("embedded-opentype"), url("../fonts/roboto-v20-latin_cyrillic-ext_cyrillic-500.woff2") format("woff2"), url("../fonts/roboto-v20-latin_cyrillic-ext_cyrillic-500.woff") format("woff"), url("../fonts/roboto-v20-latin_cyrillic-ext_cyrillic-500.ttf") format("truetype"), url("../fonts/roboto-v20-latin_cyrillic-ext_cyrillic-500.svg#Roboto") format("svg");
  /* Legacy iOS */
}

/* roboto-700 - latin_cyrillic-ext_cyrillic */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/roboto-v20-latin_cyrillic-ext_cyrillic-700.eot");
  /* IE9 Compat Modes */
  src: local(""), url("../fonts/roboto-v20-latin_cyrillic-ext_cyrillic-700.eot?#iefix") format("embedded-opentype"), url("../fonts/roboto-v20-latin_cyrillic-ext_cyrillic-700.woff2") format("woff2"), url("../fonts/roboto-v20-latin_cyrillic-ext_cyrillic-700.woff") format("woff"), url("../fonts/roboto-v20-latin_cyrillic-ext_cyrillic-700.ttf") format("truetype"), url("../fonts/roboto-v20-latin_cyrillic-ext_cyrillic-700.svg#Roboto") format("svg");
  /* Legacy iOS */
}

/* roboto-900 - latin_cyrillic-ext_cyrillic */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 900;
  src: url("../fonts/roboto-v20-latin_cyrillic-ext_cyrillic-900.eot");
  /* IE9 Compat Modes */
  src: local(""), url("../fonts/roboto-v20-latin_cyrillic-ext_cyrillic-900.eot?#iefix") format("embedded-opentype"), url("../fonts/roboto-v20-latin_cyrillic-ext_cyrillic-900.woff2") format("woff2"), url("../fonts/roboto-v20-latin_cyrillic-ext_cyrillic-900.woff") format("woff"), url("../fonts/roboto-v20-latin_cyrillic-ext_cyrillic-900.ttf") format("truetype"), url("../fonts/roboto-v20-latin_cyrillic-ext_cyrillic-900.svg#Roboto") format("svg");
  /* Legacy iOS */
}

/* raleway-regular - latin_cyrillic-ext_cyrillic */
@font-face {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/raleway-v19-latin_cyrillic-ext_cyrillic-regular.eot");
  /* IE9 Compat Modes */
  src: local(""), url("../fonts/raleway-v19-latin_cyrillic-ext_cyrillic-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/raleway-v19-latin_cyrillic-ext_cyrillic-regular.woff2") format("woff2"), url("../fonts/raleway-v19-latin_cyrillic-ext_cyrillic-regular.woff") format("woff"), url("../fonts/raleway-v19-latin_cyrillic-ext_cyrillic-regular.ttf") format("truetype"), url("../fonts/raleway-v19-latin_cyrillic-ext_cyrillic-regular.svg#Raleway") format("svg");
  /* Legacy iOS */
}

/* raleway-700 - latin_cyrillic-ext_cyrillic */
@font-face {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/raleway-v19-latin_cyrillic-ext_cyrillic-700.eot");
  /* IE9 Compat Modes */
  src: local(""), url("../fonts/raleway-v19-latin_cyrillic-ext_cyrillic-700.eot?#iefix") format("embedded-opentype"), url("../fonts/raleway-v19-latin_cyrillic-ext_cyrillic-700.woff2") format("woff2"), url("../fonts/raleway-v19-latin_cyrillic-ext_cyrillic-700.woff") format("woff"), url("../fonts/raleway-v19-latin_cyrillic-ext_cyrillic-700.ttf") format("truetype"), url("../fonts/raleway-v19-latin_cyrillic-ext_cyrillic-700.svg#Raleway") format("svg");
  /* Legacy iOS */
}

body {
  font-family: "Roboto", sans-serif;
  color: #212121;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

a {
  display: block;
  text-decoration: none;
  cursor: pointer;
}

.navigation, .navigation-list, .features-image, .image-overlay, .social-networsk-list, .social-networks-link, .client-item-link, .modal-form-checkbox-label, .filter-list, .project-overlay {
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  width: 100%;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}

@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.logo-link {
  padding: 16px 0;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.167;
  letter-spacing: 0.03em;
  color: #000000;
  font-style: normal;
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.logo-link:focus, .logo-link:hover {
  cursor: pointer;
}

@media screen and (min-width: 768px) {
  .logo-link {
    margin-right: 88px;
    padding: 26px 0;
  }
}

@media screen and (min-width: 1200px) {
  .logo-link {
    font-weight: 700;
    font-size: 26px;
    line-height: 1.192;
    letter-spacing: 0.03em;
    color: #000000;
    font-style: normal;
    margin-right: 93px;
    padding: 25px 0;
  }
}

.logo-name {
  color: #2196f3;
}

.light-theme {
  color: #000000;
}

.dark-theme {
  color: #ffffff;
}

@media screen and (max-width: 767px) {
  .navigation-list,
  .contacts-list {
    display: none;
  }
}

.header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navigation-list-item:not(:last-child) {
  margin-right: 50px;
}

.navigation-list-link {
  position: relative;
  padding: 32px 0;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.02em;
  color: #212121;
  font-style: normal;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 1200px) {
  .navigation-list-link {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.172;
    letter-spacing: 0.02em;
    color: #212121;
    font-style: normal;
  }
}

.navigation-list-link.current::after {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: currentColor;
}

.navigation-list-link:hover, .navigation-list-link:focus {
  color: #2196f3;
  fill: currentColor;
}

@media screen and (min-width: 768px) {
  .contacts-list {
    display: flex;
    flex-direction: column;
  }
  .contacts-list-item:not(:last-child) {
    margin-bottom: 10px;
  }
  .contacts-link {
    font-weight: 500;
    font-size: 12px;
    line-height: 1.167;
    letter-spacing: 0.02em;
    color: #757575;
    font-style: normal;
    fill: currentColor;
    text-decoration: none;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .contacts-link:hover, .contacts-link:focus {
    color: #2196f3;
    fill: currentColor;
  }
  svg.icon-tel,
  svg.icon-mail {
    margin-right: 8px;
  }
}

@media screen and (min-width: 1200px) {
  .contacts-list {
    flex-direction: row;
    align-items: center;
    margin-left: auto;
  }
  .contacts-list-item:not(:last-child) {
    margin-right: 30px;
    margin-bottom: 0;
  }
  .contacts-link {
    font-size: 14px;
    line-height: 1.143;
    padding: 32px 0;
  }
  svg.icon-tel,
  svg.icon-mail {
    margin-right: 10px;
  }
}

.current {
  color: #2196f3;
}

.menu-button {
  display: block;
  border: none;
  width: 40px;
  height: 40px;
  padding: 0;
  line-height: 0;
  background-color: transparent;
  cursor: pointer;
}

@media screen and (min-width: 768px) {
  .menu-button {
    display: none;
  }
}

.menu-icon {
  width: 24px;
  height: 16px;
  fill: #000000;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menu-button:hover .menu-icon,
.menu-button:focus .menu-icon {
  fill: #2196f3;
}

.mobile-menu {
  position: absolute;
  left: 50%;
  top: 0;
  width: 100%;
  max-width: 480px;
  padding: 48px 40px;
  transform: translateX(-50%) translateY(-100%);
  transition: transform 500ms cubic-bezier(0.4, 0, 0.2, 1);
  background-color: #ffffff;
  overflow-y: scroll;
}

.mobile-menu.is-open {
  height: 100vh;
  transform: translateX(-50%) translateY(0%);
}

.mobile-menu-nav-list {
  margin-bottom: 302px;
}

.mobile-menu-contacts-list {
  margin-bottom: 65px;
}

.mobile-menu-nav-item:not(:last-child), .mobile-menu-contacts-item:not(:last-child) {
  margin-bottom: 32px;
}

.mobile-menu-nav-link {
  font-weight: 500;
  font-size: 40px;
  line-height: 1.175;
  letter-spacing: 0.02em;
  color: #212121;
  font-style: normal;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (max-width: 479px) {
  .mobile-menu-nav-link {
    font-size: 24px;
  }
}

.mobile-menu-nav-link:hover, .mobile-menu-nav-link:focus {
  color: #2196f3;
}

.mobile-menu-contacts-link-tel {
  font-weight: 500;
  font-size: 34px;
  line-height: 1.176;
  letter-spacing: 0.02em;
  color: #2196f3;
  font-style: normal;
}

@media screen and (max-width: 479px) {
  .mobile-menu-contacts-link-tel {
    font-size: 24px;
  }
}

.mobile-menu-contacts-link-mail {
  font-weight: 500;
  font-size: 24px;
  line-height: 1.167;
  letter-spacing: 0.02em;
  color: #757575;
  font-style: normal;
}

.mobile-menu-social-networks-list {
  display: flex;
  justify-content: start;
  align-items: center;
  margin-left: -10px;
}

.mobile-menu-social-networks-item {
  position: relative;
}

.mobile-menu-social-networks-link {
  padding-left: 10px;
  padding-right: 10px;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.222;
  letter-spacing: 0.02em;
  color: #2196f3;
  font-style: normal;
}

@media screen and (max-width: 479px) {
  .mobile-menu-social-networks-link {
    font-size: 12px;
  }
}

.mobile-menu-social-networks-item:not(:last-child)::after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  width: 1px;
  height: 22px;
  background-color: rgba(33, 33, 33, 0.2);
}

@media screen and (min-width: 768px) {
  .mobile-menu {
    display: none;
  }
}

.hero .container {
  text-align: center;
}

.hero {
  padding: 118px 0;
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../../images/hero-bg-img-mobile.jpg");
  max-width: 480px;
  margin: 0 auto;
  background-color: #2f303a;
  background-repeat: no-repeat;
  background-size: cover;
}

@media screen and (min-device-pixel-ratio: 2), screen and (min-resolution: 192dpi), screen and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../../images/hero-bg-img-mobile@2x.jpg");
  }
}

.hero-title {
  font-weight: 900;
  font-size: 26px;
  line-height: 1.615;
  letter-spacing: 0.06em;
  color: #ffffff;
  font-style: normal;
  text-transform: uppercase;
  margin-bottom: 30px;
}

@media screen and (min-width: 768px) {
  .hero {
    padding: 200px 0;
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../../images/hero-bg-img-tablet.jpg");
    max-width: 768px;
  }
}

@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../../images/hero-bg-img-tablet@2x.jpg");
  }
}

@media screen and (min-width: 1200px) {
  .hero {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../../images/hero-bg-img-desktop.jpg");
    max-width: 1600px;
  }
}

@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../../images/hero-bg-img-desktop@2x.jpg");
  }
}

@media screen and (min-width: 1200px) {
  .hero-title {
    font-weight: 900;
    font-size: 44px;
    line-height: 1.363;
    letter-spacing: 0.06em;
    color: #ffffff;
    font-style: normal;
    text-transform: uppercase;
    margin-bottom: 30px;
  }
}

.hero-button {
  min-width: 200px;
  padding: 10px 32px;
  border: 0;
  border-radius: 4px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.06em;
  color: #ffffff;
  font-style: normal;
  font-family: inherit;
  background-color: #2196f3;
  box-shadow: none;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-button:hover, .hero-button:focus {
  cursor: pointer;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.features {
  padding: 60px 0;
}

.features-item {
  margin-bottom: 30px;
}

.features-list {
  margin-bottom: -30px;
}

.features-image {
  width: 100%;
  max-width: 450px;
  height: 120px;
  margin-bottom: 30px;
  background-color: #f5f4fa;
}

.features-title {
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.03em;
  color: #212121;
  font-style: normal;
  text-transform: uppercase;
  text-align: center;
}

.features-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
  color: #757575;
  font-style: normal;
}

@media screen and (min-width: 768px) {
  .features-list {
    display: flex;
    flex-wrap: wrap;
    margin: -15px;
  }
  .features-item {
    margin: 15px;
    width: 354px;
  }
  .features-title {
    text-align: left;
  }
}

@media screen and (min-width: 1200px) {
  .features {
    padding-top: 94px;
    padding-bottom: 94px;
  }
  .features-item {
    width: 270px;
  }
}

.functions-title,
.team-title,
.clients-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.167;
  letter-spacing: 0.03em;
  color: #212121;
  font-style: normal;
  text-align: center;
  margin-bottom: 50px;
}

@media screen and (max-width: 1199px) {
  .functions {
    display: none;
  }
}

.functions {
  padding-bottom: 94px;
}

.functions-list {
  display: flex;
}

.functions-list-item {
  position: relative;
}

.functions-list-item:not(:last-child) {
  margin-right: 30px;
}

.image-overlay {
  position: absolute;
  height: 70px;
  width: 100%;
  left: 0;
  bottom: 0;
  background-color: rgba(47, 48, 58, 0.8);
}

.image-overlay-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.03em;
  color: #ffffff;
  font-style: normal;
  text-align: center;
  text-transform: uppercase;
}

.social-networks-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.03em;
  color: #ffffff;
  font-style: normal;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.social-networks-item {
  width: 44px;
  height: 44px;
}

.social-networks-item:not(:last-child) {
  margin-right: 10px;
}

.social-networks-link {
  width: 100%;
  height: 100%;
  color: #afb1b8;
  background-color: #ffffff;
  border-radius: 50%;
  fill: currentColor;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-networks-link:hover, .social-networks-link:focus {
  background-color: #2196f3;
  fill: #ffffff;
}

.social-networks-link.footer-theme {
  color: #ffffff;
  fill: currentColor;
  background-color: rgba(255, 255, 255, 0.1);
}

.social-networks-link.footer-theme:hover, .social-networks-link.footer-theme:focus {
  background-color: #2196f3;
}

.follow-links-container {
  margin-bottom: 60px;
}

.clients {
  padding: 60px 0;
}

.clients-title {
  font-weight: 700;
  font-size: 28px;
  line-height: 1.179;
  letter-spacing: 0.03em;
  color: #212121;
  font-style: normal;
  text-align: center;
  margin-bottom: 30px;
}

.clients-list {
  display: flex;
  flex-wrap: wrap;
  margin: -15px;
}

@media screen and (max-width: 479px) {
  .clients-list {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.clients-list-item {
  width: 210px;
  height: 90px;
  margin: 15px;
}

.client-item-link {
  border-radius: 4px;
  width: 100%;
  height: 100%;
  color: #afb1b8;
  border: 1px solid #afb1b8;
  background-color: #ffffff;
  fill: currentColor;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.client-item-link:hover, .client-item-link:focus {
  color: #2196f3;
  fill: #2196f3;
  border-color: #2196f3;
}

@media screen and (min-width: 768px) {
  .clients-list-item {
    width: 226px;
  }
}

@media screen and (min-width: 1200px) {
  .clients {
    padding-top: 94px;
    padding-bottom: 94px;
  }
  .clients-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.167;
    letter-spacing: 0.03em;
    color: #212121;
    font-style: normal;
    margin-bottom: 50px;
  }
  .clients-list-item {
    width: 170px;
  }
}

.footer {
  padding: 60px 0;
  background: #2f303a;
  text-align: center;
}

.footer .logo-link {
  padding: 0;
  margin-bottom: 20px;
}

@media screen and (min-width: 768px) {
  .container.footer-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
}

.address {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
  color: #ffffff;
  font-style: normal;
  margin-bottom: 60px;
}

.address-link {
  color: rgba(255, 255, 255, 0.6);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.address-link:focus, .address-link:hover {
  color: #2196f3;
  fill: currentColor;
}

.address-item:not(:last-child) {
  margin-bottom: 8px;
}

.subscription-form {
  margin: 0 auto;
}

.subscription-form-title {
  margin-bottom: 20px;
  text-align: center;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.03em;
  color: #ffffff;
  font-style: normal;
  text-transform: uppercase;
}

.subscription-form-input {
  width: 450px;
  height: 50px;
  padding: 15px 16px;
  margin-bottom: 20px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: #2f303a;
  color: #ffffff;
}

.subscription-form-input:placeholder-shown {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  font-style: normal;
}

@media screen and (max-width: 479px) {
  .subscription-form-input {
    width: 100%;
  }
}

.subscription-form-button {
  width: 200px;
  height: 50px;
  padding: 10px 28px;
  background-color: #2196f3;
  border-color: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  outline: none;
}

.subscription-form-button:focus, .subscription-form-button:hover {
  cursor: pointer;
}

.subscription-form-button-text {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.06em;
  color: #ffffff;
  font-style: normal;
}

.subscription-form-button-text::after {
  display: inline-block;
  content: "";
  background-image: url(../images/svg/send.svg);
  background-size: contain;
  width: 24px;
  height: 24px;
}

.backdrop {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transform: scale(0.5);
}

.modal {
  position: absolute;
  width: 528px;
  height: 581px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  padding: 40px;
  background-color: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

.modal-title {
  margin-bottom: 12px;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  letter-spacing: 0.03em;
  color: #212121;
  font-style: normal;
  text-align: center;
}

.modal-form {
  display: flex;
  flex-direction: column;
}

.modal-form-input-wrapper {
  position: relative;
  display: block;
}

.form-input {
  width: 100%;
  height: 40px;
  margin-top: 4px;
  padding-top: 11px;
  padding-bottom: 11px;
  padding-left: 42px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-input:focus {
  border-color: #2196f3;
  outline: none;
  cursor: pointer;
}

.form-input-label {
  margin-bottom: 10px;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.167;
  letter-spacing: 0.01em;
  color: #757575;
  font-style: normal;
}

.form-icon {
  position: absolute;
  left: 12px;
  top: 50%;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-input:focus + .form-icon {
  fill: #2196f3;
}

.modal-form-textarea {
  display: block;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  resize: none;
  width: 100%;
  height: 120px;
  margin-top: 4px;
  padding: 12px 16px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-textarea:placeholder-shown {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
  font-style: normal;
}

.modal-form-textarea:focus {
  border-color: #2196f3;
  outline: none;
}

.modal-form-checkbox-label {
  margin-top: 10px;
  margin-bottom: 30px;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
  color: #757575;
  font-style: normal;
}

.modal-form-checkbox-label::before {
  display: inline-block;
  width: 16px;
  height: 15px;
  margin-right: 8px;
  content: "";
  background-image: url(../images/svg/Vector.svg);
  background-size: contain;
  background-color: #ffffff;
  background-origin: border-box;
  transition: background-image 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-checkbox:checked + .modal-form-checkbox-label::before {
  background-image: url(../images/svg/check.svg);
  background-size: contain;
  background-origin: border-box;
  background-color: #2196f3;
  border-radius: 2px;
}

.modal-form-checkbox:focus + .modal-form-checkbox-label::before {
  border: 2px solid #2196f3;
  border-radius: 2px;
}

.modal-form-policy-link {
  margin-left: 6px;
  color: #2196f3;
  text-decoration: underline;
}

.modal-close-btn {
  position: absolute;
  width: 30px;
  height: 30px;
  top: 8px;
  right: 8px;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  background-color: transparent;
  fill: #000000;
  cursor: pointer;
}

.modal-close-btn:hover, .modal-close-btn:focus {
  fill: #2196f3;
}

.mobile-menu .modal-close-btn {
  width: 40px;
  height: 40px;
  top: 10px;
  right: 15px;
  border: none;
}

.modal-form-button {
  width: 200px;
  padding: 10px 55px;
  align-self: center;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.06em;
  color: #ffffff;
  font-style: normal;
  text-align: center;
  background-color: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border: 0;
  border-radius: 4px;
}

.modal-form-button:hover, .modal-form-button:focus {
  background-color: #188ce8;
  cursor: pointer;
}

.filter-list {
  margin-bottom: 50px;
}

.filter-list-item:not(:last-child) {
  margin-right: 8px;
}

.filter-type-button {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.625;
  letter-spacing: 0.03em;
  color: #212121;
  font-style: normal;
  font-family: inherit;
  text-align: center;
  padding: 6px 22px;
  border-radius: 4px;
  border-style: none;
  box-shadow: none;
  background-color: #f5f4fa;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.filter-type-button:hover, .filter-type-button:focus {
  background-color: #2196f3;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  color: #ffffff;
  cursor: pointer;
}

.projects {
  padding-top: 94px;
  padding-bottom: 94px;
}

.projects-list {
  display: flex;
  flex-wrap: wrap;
}

.projects-list-item {
  list-style-type: none;
  width: 370px;
}

.projects-list-item:not(:nth-child(3n)) {
  margin-right: 30px;
}

.projects-list-item:not(:nth-last-child(-n + 3)) {
  margin-bottom: 30px;
}

.project-link {
  box-sizing: border-box;
  text-decoration: none;
  background: #ffffff;
  outline: 1px solid #eeeeee;
  box-shadow: none;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.project-link:focus, .project-link:hover {
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  cursor: pointer;
}

.project-link:hover .project-overlay,
.project-link:focus .project-overlay {
  transform: translateY(0);
}

.project-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: #212121;
  font-style: normal;
  margin-bottom: 4px;
}

.project-type-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.03em;
  color: #757575;
  font-style: normal;
}

.project-info {
  padding: 20px 24px;
}

.project-thumb {
  position: relative;
  overflow: hidden;
}

.project-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  bottom: 0;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  background-color: rgba(33, 150, 243, 0.9);
}

.project-overlay-text {
  max-width: 322px;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.556;
  letter-spacing: 0.03em;
  color: #ffffff;
  font-style: normal;
}
/*# sourceMappingURL=main.css.map */