.clients {
  padding-top: $section-padding-top;
  padding-bottom: $section-padding-bottom;

  &-list {
    @extend %flex-centred;
  }
  &-list-item {
    width: 170px;
    height: 90px;
  }
  &-list-item:not(:last-child) {
    margin-right: 30px;
  }
}

.client-item-link {
  @extend %flex-centred;

  border-radius: 4px;
  width: 100%;
  height: 100%;

  color: $no-active-link-color;
  border: 1px solid $no-active-link-color;
  background-color: $main-light-color;
  fill: currentColor;

  transition: color 250ms $timing-function, fill 250ms $timing-function,
    border-color 250ms $timing-function, border-color 250ms $timing-function;

  &:hover,
  &:focus {
    color: $accent-color;
    fill: $accent-color;
    border-color: $accent-color;
  }
}
