.features {
  padding: 60px 0;

  &-item {
    margin-bottom: 30px;
  }
  &-list {
    margin-bottom: -30px;
  }
  &-image {
    @extend %flex-centred;
    width: 100%;
    max-width: 450px;
    height: 120px;
    margin-bottom: 30px;

    background-color: $special-bg-color;
  }
  &-title {
    margin-bottom: 10px;

    @include font(700, $main-font-size, 1.143, 00.03em, $main-text-color);
    text-transform: uppercase;
    text-align: center;
  }
  &-text {
    @include font(400, $main-font-size, 1.714, 00.03em, $secondary-text-color);
  }
}

@media screen and(min-width:768px) {
  .features-list {
    display: flex;
    flex-wrap: wrap;
    margin: -15px;
  }

  .features-item {
    margin: 15px;
    width: 354px;
  }
  .features-title {
    text-align: left;
  }
}
@media screen and(min-width:1200px) {
  .features {
    padding-top: $section-padding-top;
    padding-bottom: $section-padding-bottom;

    &-item {
      width: 270px;
    }
  }
}
