.modal {
  position: absolute;
  width: 450px;
  height: 609px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);

  padding: 40px;

  background-color: $main-light-color;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;

  &-title {
    margin-bottom: 12px;
    @include font(700, 20px, 1.5, 00.03em, $main-text-color);
    text-align: center;
  }
  &-form {
    display: flex;
    flex-direction: column;
  }
  &-form-input-wrapper {
    position: relative;
    display: block;
  }
}

.form-input {
  width: 100%;
  height: 40px;
  margin-top: 4px;
  padding-top: 11px;
  padding-bottom: 11px;
  padding-left: 12px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;

  transition: border-color 250ms $timing-function;

  &:focus {
    border-color: $accent-color;
    outline: none;
    cursor: pointer;
  }
  &-label {
    margin-bottom: 10px;
    @include font(400, 12px, 1.167, 00.01em, $secondary-text-color);
  }
}
.form-icon {
  position: absolute;
  left: 12px;
  top: 50%;
  transform: translateY(-50%);

  transition: fill 250ms $timing-function;

  .form-input:focus + & {
    fill: $accent-color;
  }
}
.modal-form-textarea {
  display: block;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;

  resize: none;
  width: 100%;
  height: 120px;
  margin-top: 4px;
  padding: 12px 16px;

  transition: border-color 250ms $timing-function;

  &:placeholder-shown {
    @include font(
      400,
      $main-font-size,
      1.143,
      00.01em,
      rgba(117, 117, 117, 0.5)
    );
  }
  &:focus {
    border-color: $accent-color;
    outline: none;
  }
}
.modal-form-checkbox-label {
  @extend %flex-centred;
  margin-top: 10px;
  margin-bottom: 30px;

  @include font(400, 12px, 1.167, 00.03em, $secondary-text-color);

  &::before {
    display: inline-block;
    width: 16px;
    height: 15px;
    margin-right: 8px;

    content: "";

    background-image: url(../images/svg/Vector.svg);
    background-size: contain;
    background-color: $main-light-color;
    background-origin: border-box;

    transition: background-image 250ms $timing-function,
      background-color 250ms $timing-function;
  }

  .modal-form-checkbox:checked + &::before {
    background-image: url(../images/svg/check.svg);
    background-size: contain;
    background-origin: border-box;
    background-color: $accent-color;
    border-radius: 2px;
  }
  .modal-form-checkbox:focus + &::before {
    border: 2px solid $accent-color;
    border-radius: 2px;
  }
}
@media screen and(max-width:479px) {
  .modal {
    height: 524px;
    width: 90%;
    padding: 35px;
    overflow-y: scroll;
    &-title {
      font-size: 16px;
    }
  }
  .modal-form-checkbox-label {
    font-size: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
  }
  .modal-form-textarea {
    height: 60px;
  }
  .form-input {
    height: 35px;
  }
}
.modal-form-policy-link {
  margin-left: 6px;

  color: $accent-color;
  text-decoration: underline;
}

@media screen and(min-width:1200px) {
  .modal {
    width: 528px;
    height: 581px;

    &-title {
      @include font(700, 20px, 1.15, 00.03em, $main-text-color);
    }
    &-form-checkbox-label {
      @include font(
        400,
        $main-font-size,
        1.714,
        00.03em,
        $secondary-text-color
      );
    }
  }
}
