.address {
  @include font(400, $main-font-size, 1.714, 0.03em, $main-light-color);
  margin-bottom: 60px;
  &-link {
    color: $addres-link-color;
    transition: color 250ms $timing-function;
  }
  &-link:focus,
  &-link:hover {
    color: $accent-color;
    fill: currentColor;
  }
  &-item:not(:last-child) {
    margin-bottom: 8px;
  }
}
@media screen and(min-width:768px) {
  .address {
    margin-bottom: 0;
  }
}
@media screen and(min-width:1200px) {
  .address {
    margin-bottom: 9px;
  }
}
