.modal-form-button {
  width: 200px;
  padding: 10px 55px;
  align-self: center;

  @include font(700, 16px, 1.875, 00.06em, $main-light-color);
  text-align: center;

  background-color: $accent-color;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border: 0;
  border-radius: 4px;

  &:hover,
  &:focus {
    background-color: rgb(24, 140, 232);
    cursor: pointer;
  }
}
